<nav class="navbar is-fixed-top is-dark" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" routerLink="">
      PileTron 3000&trade;
    </a>
    <div class="navbar-burger burger" [class.is-active]="burger" (click)="toggleBurger()">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div class="navbar-menu" [class.is-active]="burger">
    <div class="navbar-start">
      <a class="navbar-item" routerLink="" routerLinkActive="is-active">
        Size your Pile!
      </a>
      <a class="navbar-item" routerLink="pzn" routerLinkActive="is-active">
        Personalize
      </a>
    </div>

    <div class="navbar-end">
      <a class="navbar-item" routerLink="about" routerLinkActive="is-active">
        About&nbsp;
        <i class="far fa-question-circle"></i>
      </a>
    </div>
  </div>
</nav>
