<nav class="navbar is-fixed-top is-dark" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" routerLink="main">
      PileTron 3000&trade;
    </a>
    <div class="navbar-burger burger" [class.is-active]="burger" (click)="toggleBurger()">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div class="navbar-menu" [class.is-active]="burger">
    <div class="navbar-start">
      <a class="navbar-item" routerLink="main" routerLinkActive="is-active">
        Size your Pile!
      </a>
      <a class="navbar-item" routerLink="mypile" routerLinkActive="is-active">
        Compare your Pile
      </a>
      <a class="navbar-item" routerLink="profile" routerLinkActive="is-active">
        Profile
      </a>
    </div>

    <div class="navbar-end">
      <a class="navbar-item" routerLink="about" routerLinkActive="is-active">
        About&nbsp;
        <i class="far fa-question-circle"></i>
      </a>
      <a class="navbar-item" routerLink="imprint" routerLinkActive="is-active">
        Imprint
      </a>
      <a class="navbar-item" routerLink="privacy" routerLinkActive="is-active">
        Privacy
      </a>
      <a class="navbar-item" (click)="onLogout()">
        <i class="fas fa-sign-out-alt"></i>
      </a>
    </div>
  </div>
</nav>
