<div class="field has-addons">
  <div class="control is-expanded">
    <input [(ngModel)]="searchTerm" (keyup.enter)="onSearch()" class="input" type="text" placeholder="Enter a game name...">
  </div>
  <div class="control">
    <a class="button is-info" (click)="onSearch()">
      <i class="fas fa-search"></i>
    </a>
  </div>
</div>
<div class="block is-center">
  <img *ngIf="searching" height="100px" width="100px" class="is-center" src="assets/images/Pacman.svg" alt="searching...">
</div>
<div class="block">
  <div *ngIf="searchResults.length === 0">
    No results. Please use search to find games you own, and have not yet played...
  </div>
  <div *ngIf="searchResults.length > 0">
    <div class="is-center">{{ searchResults.length }} results found </div>
    <div *ngFor="let result of searchResults" class="container is-fluid">
      <app-searchresult [result]="result"></app-searchresult>
    </div>
  </div>
</div>
