<div class="field has-addons">
  <div class="control is-expanded">
    <input [(ngModel)]="searchTerm" (keyup.enter)="onSearch()" class="input" type="text" placeholder="Enter a game name...">
  </div>
  <div class="control">
    <a class="button is-info" (click)="onSearch()">
      <i class="fas fa-search"></i>
    </a>
  </div>
</div>
<div *ngIf="searching" class="block is-center">
  <article class="message is-small">
    <div class="message-header shimmer">
      <p>&nbsp;</p>
    </div>
  </article>
  <div class="container is-fluid">
    <div class="card">
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <div class="img-placeholder "></div>
          </div>
          <div class="media-content">
            <div class="title-placeholder shimmer">
            </div>
            <div class="subtitle-placeholder shimmer">
            </div>
            <div class="subtitle-placeholder shimmer">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <div class="img-placeholder "></div>
          </div>
          <div class="media-content">
            <div class="title-placeholder shimmer">
            </div>
            <div class="subtitle-placeholder shimmer">
            </div>
            <div class="subtitle-placeholder shimmer">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="block">
  <div *ngIf="searchResults.length === 0">
    No results. Please use search to find games you own, and have not yet played...
  </div>
  <div *ngIf="searchResults.length > 0 && !searching">
    <article class="message is-small is-primary">
      <div class="message-header">
        <p>{{ searchResults.length }} results found for
          <i>"{{searchTerm}}"</i>
        </p>
        <button class="delete is-small" (click)="onResetSearch()"></button>
      </div>
    </article>
    <div *ngFor="let result of searchResults" class="container is-fluid">
      <app-searchresult [result]="result"></app-searchresult>
    </div>
  </div>
</div>
