<section class="section hero is-light is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title pixel">About</h1>
      <div>
          PileTron 3000&trade; is a non commercial, non serious side project done by Christian Katzorke.
          <br>
          I am an agile solution architect and software developer (professional), movie nerd and video game player (leisure time) and
          loving father of three (all time).
          <br>
          This leads inevitable to one serious issue:
          <strong>pile of shames everywhere!</strong>
      </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <h2 class="title">Credits</h2>
    <div class="columns">
      <div class="column">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="assets/images/thimbleweed-park.jpg" alt="Image of Thumbleweed Park, the game">
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <p class="title is-4">Thimbleweed Park</p>
                </div>
              </div>
              <div class="content">
                  The name
                  <strong>PileTron 3000&trade;</strong> is inspired by Ron Gilbert's incredible awesome point & click adventure revival
                  <a href="https://thimbleweedpark.com" target="_blank" rel="noopener">Thimbleweed Park</a> (of course, it is no trademark by any means, and only part of the reference and hommage to Mr. Gilbert's amazing work).
                  <br>
                  It is available on almost any platform, so no excuse to not play it - if you look back with joy
                  to game highlights like
                  <strong>Monkey Island</strong> or
                  <strong>Day of the Tentacle</strong>, go and play
                  <strong>Thimbleweed Park</strong>.
              </div>
            </div>
            <footer class="card-footer">
              <a href="#" class="card-footer-item"><a href="https://thimbleweedpark.com/" target="_blank" rel="noopener"><i class="fas fa-external-link-alt"></i></a></a>
              <a href="#" class="card-footer-item"><a href="https://twitter.com/thimbleweedpark" target="_blank" rel="noopener"><i class="fab fa-twitter"></i></a></a>
            </footer>
          </div>
      </div>
      <div class="column">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="assets/images/hltb.png" alt="Screenshot of the website of Howlongtobeat">
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <p class="title is-4">Howlongtobeat</p>
                </div>
              </div>
              <div class="content">
                  <strong>Howlongtobeat</strong> inspired me in the first place for creating PileTron 3000&trade;. They also provide some similar functionality, but limited to Steam libraries and there are no suggestions what you could do in this time.
              </div>
            </div>
            <footer class="card-footer">
              <a href="#" class="card-footer-item"><a href="https://howlongtobeat.com/" target="_blank" rel="noopener"><i class="fas fa-external-link-alt"></i></a></a>
              <a href="#" class="card-footer-item"><a href="https://twitter.com/HowLongToBeat/" target="_blank" rel="noopener"><i class="fab fa-twitter"></i></a></a>
            </footer>
          </div>
      </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <h2 class="title">Me</h2>
    <div>
      Github Twitter LinkedIn
    </div>
  </div>
</section>
<section class="section">
    <div class="container">
      <h2 class="title">Built with</h2>
      <div>
        Angular
        Bulma
        Fontawesome
        Webfonts https://webfonts.ffonts.net/04b08.font.download
        Stdlib
      </div>
    </div>
  </section>

