<section class="section hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">About</h1>
      <div>
          PileTron 3000&trade; is a non commercial, non serious side project done by Christian Katzorke.
          <br>
          I am an agile solution architect and software developer (professional), movie nerd and video game player (leisure time) and
          loving father of three (all time).
          <br>
          This leads inevitable to one serious issue:
          <strong>pile of shames everywhere!</strong>
      </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <h2 class="title">Me</h2>
    <div>
      Github Twitter LinkedIn
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <h2 class="title">Credits</h2>
    <div>
      The name
      <strong>PileTron 3000&trade;</strong> is inspired by Ron Gilbert's incredible awesome point & click adventure revival
      <a href="https://thimbleweedpark.com" target="_blank" rel="noopener">Thimbleweed Park</a> (of course, it is no trademark by any means, and only part of the reference and hommage to Mr. Gilbert's amazing work).
      <br>
      It is available on almost any platform, so no excuse to not play it - if you look back with joy
      to game highlights like
      <strong>Monkey Islannd</strong> or
      <strong>Day of the Tentacle</strong>, go and play
      <strong>Thimbleweed Park</strong>.
    </div>
  </div>
</section>
<section class="section">
    <div class="container">
      <h2 class="title">Built with</h2>
      <div>
        Angular
        Bulma
        Fontawesome
      </div>
    </div>
  </section>

