<section class="section hero is-light is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title pixel">About</h1>
      <div>
        <span class="pixel">PileTron 3000&trade;</span> is a non commercial, non serious side project done by Christian Katzorke (me).
        <br> I am an agile solution architect and software developer (professional), movie nerd and video game player (leisure
        time) and loving husband and father of three (all time).
        <br> This inevitable leads to one serious issue:
        <strong>piles of shame everywhere!</strong>
      </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <h2 class="title">Credits</h2>
    <div class="columns">
      <div class="column">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="assets/images/thimbleweed-park.jpg" alt="Image of Thumbleweed Park, the game">
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4">Thimbleweed Park</p>
              </div>
            </div>
            <div class="content">
              The name
              <strong><span class="pixel">PileTron 3000&trade;</span></strong> is inspired by Ron Gilbert's and Gary Winnick's incredibly awesome point & click
              adventure revival
              <a href="https://thimbleweedpark.com" target="_blank" rel="noopener">Thimbleweed Park</a>. Of course, PileTron is no trademark by any means, and only part of the reference and
              hommage to Mr. Gilbert's and Mr. Winnick's amazing work).
              <br> It is available on almost any platform, so no excuse to not play it - if you look back with joy to game highlights
              like
              <strong>Monkey Island</strong> or
              <strong>Day of the Tentacle</strong>, go and play
              <strong>Thimbleweed Park</strong>.
            </div>
          </div>
          <footer class="card-footer">
            <a href="#" class="card-footer-item">
              <a href="https://thimbleweedpark.com/" target="_blank" rel="noopener">
                <i class="fas fa-external-link-alt"></i>
              </a>
            </a>
            <a href="#" class="card-footer-item">
              <a href="https://twitter.com/thimbleweedpark" target="_blank" rel="noopener">
                <i class="fab fa-twitter"></i>
              </a>
            </a>
          </footer>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="assets/images/hltb.png" alt="Screenshot of the website of Howlongtobeat">
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4">Howlongtobeat</p>
              </div>
            </div>
            <div class="content">
              <strong>Howlongtobeat</strong> inspired me in the first place for creating <span class="pixel">PileTron 3000&trade;</span>. They also provide
              some similar functionality, but limited to Steam libraries and there are no suggestions what you could do in
              this time.
            </div>
          </div>
          <footer class="card-footer">
            <a href="#" class="card-footer-item">
              <a href="https://howlongtobeat.com/" target="_blank" rel="noopener">
                <i class="fas fa-external-link-alt"></i>
              </a>
            </a>
            <a href="#" class="card-footer-item">
              <a href="https://twitter.com/HowLongToBeat/" target="_blank" rel="noopener">
                <i class="fab fa-twitter"></i>
              </a>
            </a>
          </footer>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <div class="card-image">
            <figure class="image ">
              <img src="assets/images/igdb.webp" alt="Logo of igdb.com">
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4">IGDB.com</p>
              </div>
            </div>
            <div class="content">
              <strong>The international game database</strong> contains tons of metadata, screenshots, and much more for lots of games...
            </div>
          </div>
          <footer class="card-footer">
            <a href="#" class="card-footer-item">
              <a href="https://www.igdb.com/" target="_blank" rel="noopener">
                <i class="fas fa-external-link-alt"></i>
              </a>
            </a>
            <a href="#" class="card-footer-item">
              <a href="https://twitter.com/igdbcom" target="_blank" rel="noopener">
                <i class="fab fa-twitter"></i>
              </a>
            </a>
          </footer>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <h2 class="title">Me</h2>
    <h2 class="sbtitle">Father. Husband. Technology Afficionado.</h2>
    <div class="content">You can find me here - whenever you feel to drop me a line for whatever reason.</div>
    <div class="columns">
      <div class="column">
        <div class="block">
          <div class="title is-center">
            <a href="https://github.com/ckatzorke" target="_blank" rel="noopener" title="Find me on GitHub, check my collection of half finished projects">
              <i class="fab fa-github"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="block">
          <div class="title is-center">
            <a href="https://twitter.com/ckatzorke" target="_blank" rel="noopener" title="See what I have to tell the world">
              <i class="fab fa-twitter"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="block">
          <div class="title is-center">
            <a href="https://www.linkedin.com/in/christian-katzorke-68449688/" target="_blank" rel="noopener" title="Take a look at my professional profile">
              <i class="fab fa-linkedin"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="block">
          <div class="title is-center">
            <a href="https://psnprofiles.com/JBFletcher" target="_blank" rel="noopener" title="What I am playing...">
              <i class="fab fa-playstation"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="block">
          <div class="title is-center">
            <a href="https://letterboxd.com/ckatzorke/" target="_blank" rel="noopener" title="What I am watching...">
              <img src="assets/images/letterboxd-dots-2x-0-380-0-200.png" height="30px" width="30px" />
            </a>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="block">
          <div class="title is-center">
            <a href="http://www.invelos.com/dvdcollection.aspx/Yubitsume" target="_blank" rel="noopener" title="My DVD/Blu Ray collection">
              <img src="assets/images/dvdprofiler.jpg" height="30px" width="30px" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">

    <div class="block">
      <h2 class="title">Built with...</h2>
      <h2 class="sbtitle">A shout out to these sites/providers for building awesome stuff</h2>
    </div>
    <div class="block">
      <div class="columns">
        <div class="column is-center bg-dark">
          <a href="https://www.angular.io/" target="_blank" rel="noopener">
            <img src="assets/images/builtwith/angular-logo.png" alt="Logo of Angular" class="logo">
          </a>
        </div>
        <div class="column is-center ">
          <a href="https://bulma.io/" target="_blank" rel="noopener">
            <img src="assets/images/builtwith/bulma-logo.png" alt="Logo of Bulma" class="logo">
          </a>
        </div>
        <div class="column is-center " target="_blank" rel="noopener">
          <a href="https://fontawesome.com/">
            <img src="assets/images/builtwith/fontawesome-logo.png" alt="Logo of Font Awesome" class="logo">
          </a>
        </div>
        <div class="column is-center " target="_blank" rel="noopener">
          <a href="https://stdlib.com">
            <img src="assets/images/builtwith/stdlib-logo.png" alt="Logo of Stdlib" class="logo">
          </a>
        </div>
      </div>
      <div class="columns">
          <div class="column is-center" target="_blank" rel="noopener">
            <a href="https://www.netlify.com/">
              <img src="assets/images/builtwith/netlify.jpg" alt="Logo of Netlify" class="logo">
            </a>
          </div>
          <div class="column is-center is-center ">
            <a href="https://github.com/" target="_blank" rel="noopener">
              <img src="assets/images/builtwith/github-logo.png" alt="Logo of GitHub" class="logo">
            </a>
          </div>
          <div class="column is-center ">
            <a href="https://travis-ci.org/" target="_blank" rel="noopener">
              <img src="assets/images/builtwith/travis-logo.png" alt="Logo of Travis CI" class="logo">
            </a>
          </div>
          <div class="column">
          </div>
        </div>
    </div>
  </div>
</section>
