<section class="section hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title pixel">PileTron 3000&trade;</h1>
      <div>
        Size
      </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <h2 class="title">Search</h2>
    <div>
      suche
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <h2 class="title">Your Pile</h2>
    <div>
      Enormous
    </div>
  </div>
</section>
Angular
Bulma
Fontawesome

