<section class="section hero is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <div class="block">
        <h1 class="title pixel">PileTron 3000&trade;</h1>
        <div>
          Ever wondered how big your pile of shame is? How much time you would need to invest to beat the unplayed games?
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="columns">
    <div class="column">
      <h2 class="title">Your Pile</h2>
      <div>
        <app-pile></app-pile>
      </div>
    </div>
    <div class="column">
      <h2 class="title">Search for your game</h2>
      <div>
        <app-search></app-search>
      </div>
    </div>
  </div>
</section>
