<section class="section hero is-white is-bold">
  <div class="hero-body">
    <div class="container">
      <div class="block">
        <h1 class="title pixel">Personalize</h1>
        <div>
          Customize your <span class="pixel">PileTron 3000&trade;</span> app by logging in with your Google account.
          <br>
          I won't do anything with your account data, and any usage of your authority regarding any usage (like any APIs or similar) will be requested with a separate consent screen, you can always decide to revoke access.
          <br>
          Also, you will be able to sign out, or completely delete any data associated with <span class="pixel">PileTron 3000&trade;</span>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section" *ngIf="fauth.authState | async as user; else showLogin">
  <div class="container">
    <h2 class="title">Hello {{ user.displayName }}!</h2>
    <div class="columns">
      <div class="column is-one-quarter label">e-mail</div>
      <div class="column">{{ user.email }}</div>
    </div>
    <div class="block">
      <div>
        <button class="button" (click)="onLogout()"><i class="fas fa-sign-out-alt"></i>&nbsp;Logout</button>
      </div>
    </div>
  </div>
</section>
<ng-template #showLogin>
  <section>
    <div class="container">
      <div class="block is-center spacer">
        <button class="button is-info" (click)="onLogin()"><i class="fab fa-google"></i>&nbsp;Login with Google</button>
      </div>
    </div>
  </section>
</ng-template>
