@font-face {
  font-family: '04b08';
  src:url('assets/fonts/04b08.ttf.woff') format('woff'),
      url('assets/fonts/04b08.ttf.svg#04b08') format('svg'),
      url('assets/fonts/04b08.ttf.eot'),
      url('assets/fonts/04b08.ttf.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

.is-center{
  text-align: center;
  vertical-align: middle;
}

.spacer {
  margin: 20px;
}
.label {
  color: #b1b1b1;
  font-style: italic;
}
.bg-dark {
  background-color: #b1b1b1;
}

img.logo {
  max-height: 72px;
}

.pixel {
  font-family: '04b08';
}



@import "~bulma/css/bulma.css";
